<div class="form__container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="main__title">Register:</h1>
    <div class="form__control">
      <label>Email:</label>
      <input type="text" placeholder="email" formControlName="email" />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <small
          *ngIf="form.get('email')?.errors?.['required']"
          class="main__error"
          >*you need to fill the graph</small
        >
        <small
          class="main__error"
          *ngIf="form.get('email')?.errors?.['restrictedEmail']"
          >*this email is already taken</small
        >
        <small *ngIf="form.get('email')?.errors?.['email']" class="main__error"
          >*this email is incorrect</small
        >
      </div>
    </div>
    <div class="form__control">
      <label>Password:</label>
      <input type="text" placeholder="password" formControlName="password" />
      <div
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <small class="main__error">*you need to fill the graph</small>
      </div>
    </div>
    <button class="main__btn" type="submit" [disabled]="form.invalid">
      Submit
    </button>
  </form>
  <div class="main__text">
    <p>If you already have account, please log in</p>
    <button class="main__btn" [routerLink]="['/']">login</button>
  </div>
</div>
