<div class="book-search">
  <div class="book-search__control">
    <label class="book-search__title">Type title of film:</label>
    <input
      #searchBox
      class="book-search__input"
      type="text"
      placeholder="Title of the book"
      (input)="search(searchBox.value)"
    />
  </div>
  <ng-container *ngIf="searchBox.value"
    ><h1 class="book-search__title">We found:</h1></ng-container
  >
  <div class="card" *ngFor="let book of books$ | async">
    <app-book-card [book]="book"></app-book-card>
  </div>
</div>
