<h1>Cart:</h1>
<table>
  <tbody *ngFor="let item of cartItems">
    <tr class="cart">
      <a [routerLink]="['/detailed', +item.book.isbn13]">
        <td><img class="cart__img" src="{{ item.book.image }}" /></td>
        <td>{{ item.book.title }}</td>
        <td>{{ item.book.price }}</td>
      </a>
      <td>
        <button (click)="plusBook(item.book)">+</button>
        <span>Number of copies in cart:{{ item.count }}</span>
        <button (click)="minusBook(item.book)">-</button>
        <button (click)="deleteBook(item.book)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ng-container *ngIf="!isEmpty">
  <app-cart-calculation></app-cart-calculation>
</ng-container>
<!--переделать на ng-container-->

<!--калькуляция показана только если корзина НЕ пустая, сделать проверку ПЕРЕДАЕМ В ДОЧ.КОМПОНЕНТ ISEMPTY-->
